@charset "UTF-8";
/* CSS Document */
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Typography
	1.1 - Headings
	1.2 - Body Copy
	1.3 - Buttons
	1.4 - Forms
	1.5 - Lists
	1.6 - Tables
2.0 - Navigation Menus
	2.1 - Main Menu
	2.2 - Sub Menu
	2.3 - Footer Menu 
3.0 - Content
	3.1 - Site Structure (Site Header, Advertisement, Site Footer)
	3.2 - Section Name
	3.3 - Section Name
4.0 - Media
5.0 - Utility
	5.1 - Background Colors
	5.2 - Text Colors
	5.3 - Text Sizes
	5.4 - Alignments
--------------------------------------------------------------*/
html { 
	font-size: 24px;
}

/*--------------------------------------------------------------
1.0 - TYPOGRAPHY
-------------------------------------------------------------- */
/*--------------------------------------------------------------
1.1 - HEADINGS
-------------------------------------------------------------- */

h1 {
	margin-top: -12px;
}
h2, h3 {
	text-transform: uppercase;
	text-align: center;
	font-weight: 800;
	color: #ee576b;
	font-size: 35px;
}
/*--------------------------------------------------------------
1.2 - BODY COPY
-------------------------------------------------------------- */
#hero p {
	color: white;
	text-align: left;
	text-transform: uppercase;
	font-weight: 800;
}
blockquote {
	margin-top: 50px;
	text-align: center;
	text-transform: uppercase;
    font-size: 0.5rem;
	font-weight: 100;
	margin-bottom: 50px;
}
body {
	font-family: 'Open Sans', sans-serif;
}
.pink-box p {
	font-weight: 100;
	font-size: 0.6rem;
	padding: 30px;
	line-height: 25px;
	margin-top: -65px;
	padding-bottom: 60px;
}
.pink-box {
	color: white;
}
.pink-box h3 {
	color: whitesmoke;
	font-size: 1rem;
	padding-top: 80px;
	    font-weight: 100;

}
 .col-1-4 header p {
	color: #f95a6c;
    font-size: 0.6rem;
}


.col-1-4 { 
    font-size: 0.6rem;
	font-weight: 100;
}
.col-1-4 p, .col-1-4 { 
	margin-top: -7px;
}
.col-1-4 h3 { 
	color: black;
	font-weight: 500;
    font-size: 0.8rem;
	    margin-top: -10px;

}

.pink-box header p {
	font-size: 1rem;
	text-transform: uppercase;
	font-weight: 100;
	margin-top: -50px;
	    padding-bottom: 35px;
}
.pink-box a {
	color: white;
	border: solid 1px white;
	padding: 10px 28px;
}
.pink-box a:hover {
	background-color: #f95a6c;
	color: white;
}
#shipping { 
    text-transform: uppercase;
    font-size: 0.5rem;
    font-weight: 100;
    line-height: 25px;
}
#about p { 
    padding-top: 120px;
}
/*--------------------------------------------------------------
1.3 - BUTTONS
-------------------------------------------------------------- */

/*--------------------------------------------------------------
1.4 - FORMS
-------------------------------------------------------------- */
label {
	display: none;
}
form {
	padding: 30px;
}
input {
	width: 450px;
    border: solid 1px  #f95a6c;
    outline: none;
	font-size: 0.7rem;

}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
	box-shadow: 0 0 0px 1000px white inset;
}

.col-2-6 { 
      color: #f95a6c;
    border: solid 1px #f95a6c;
    padding: 0px 24px;
    font-size: 0.7rem;
	    margin-top: 37px;
    margin-left: -16px;

}

/*--------------------------------------------------------------
1.5 - LISTS
-------------------------------------------------------------- */
ul {
	text-align: right;
	margin-top: 42px;
	font-size: 0.7rem;

}
li {
	display: inline-block;
	padding-right: 30px;
}
/*--------------------------------------------------------------
2.0 - NAVIGATION MENUS
-------------------------------------------------------------- */
a {
	text-decoration: none;
	text-transform: uppercase;
	color: black;
	font-weight: 100;
}
nav a:hover, blockquote a:hover {
	border-bottom: 1px solid #f95a6c;
	font-weight: 800;
}
.col-1-4 a {
	color: #f95a6c;
	border: solid 1px #f95a6c;
		padding: 10px 28px;

}

.col-1-4 a:hover, .col-2-6 a:hover { 
	background-color: #f95a6c;
	color: white;
}

/*--------------------------------------------------------------
4.0 - MEDIA
-------------------------------------------------------------- */
#hero {
	background: url(../img/lekule-hero-image.jpg) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
    padding-top: 293px;
    margin-top: -77px;
}
#featured-coffee {
	background: url(../img/lekule-evening-oak.jpg) no-repeat center center;
	background-size: cover;
	min-height: 460px;
}
#about-pic {
	background: url(../img/lekule-aboutus.jpg) no-repeat center center;
	background-size: cover;
}
#map {
	background: url(../img/lekule-map.jpg) no-repeat center center;
	background-size: cover;
}
/*--------------------------------------------------------------
5.0 - UTILITY
-------------------------------------------------------------- */

.grey-bar {
	background-color: #d8d8d8;
	height: 130px;
}
.pink-box {
	background-color: #f95a6c;
	text-align: center;
	color: white;
}
footer {
	background-color: #d8d8d8;
}
.flex {
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	overflow: hidden;
}
.flex [class*='col-'] {
	flex: 1;
}
/*--------------------------------------------------------------
5.4 - ALIGNMENTS
-------------------------------------------------------------- */

#contact p {
	text-align: center;
}
.col-5-8 {
	text-align: center;
}
*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
img {
	max-width: 100%;
}
.wrapper {
	width: 80%;
	margin: 0 auto;
}
.row:after {
	content: "";
	display: table;
	clear: both;
}
[class*='col-'] {
	float: left;
	margin-bottom: 20px;
}
.bg {
	background-color: #660033;
	height: 200px;
}
.col-1-1 {
	width: 100%;
}
.col-1-2 {
	width: 50%;
}
.col-1-3 {
	width: 33.33%;
}
.col-2-3 {
	width: 66.66%;
}
.col-1-4 {
	width: 25%;
	text-align: center;
	padding-right: 20px;
}
.col-3-4 {
	width: 75%;
}
.col-1-5 {
	width: 20%;
}
.col-2-5 {
	width: 50%;
}
.col-3-5 {
	width: 50%;
}
.col-1-6 {
	width: 16.6%;
}
.col-4-6 {
	width: 65%;
}
.col-2-6 {
	width: 15%;
}
.col-1-7 {
	width: 14.2%;
}
.col-4-7 {
	width: 30%;
}
.col-3-7 {
	width: 70%;
}
.col-1-8 {
	width: 12.5%;
}
.col-5-8 {
	width: 75%;
}
.col-3-8 {
	width: 25%;
}
.col-1-9 {
	width: 11.11%;
}
.col-3-9 {
	width: 30%;
}
.col-4-9 {
	width: 30%;
}
.col-2-9 {
	width: 40%;
}
.col-1-10 {
	width: 10%;
}
.col-4-10 {
	width: 20%;
}
.col-3-10 {
	width: 40%
}
.col-1-11 {
	width: 9.09%;
}
.col-5-11 {
	width: 59%;
}
.col-3-11 {
	width: 20.5%;
}
.col-1-12 {
	width: 8.33%;
}
.col-3-12 {
	width: 15%;
}
.col-4-12 {
	width: 35%;
}
.col-2-12 {
	width: 35%;
}
.col-10-12 {
	width: 80%;
}
.block-center {
	margin: 0 auto;
	float: none;
}

@media screen and (max-width: 480px) {
.col-1-4 {
	width: 50%;
}
.col-1-4:nth-child(2) {
	padding-right: 0;
}
.col-3-4 {
	width: 50%;
}
.col-1-5 {
	width: 100%;
	padding-right: 0;
}
.col-2-5 {
	width: 30%;
}
.col-3-5 {
	width: 70%;
}
.col-1-6 {
	width: 33.33%;
}
.col-1-7 {
	width: 100%;
}
.col-1-8 {
	width: 25%;
}
.col-1-8:nth-child(4), .col-1-7, .col-1-5, .col-1-6:nth-child(3), .col-1-10, .col-1-9:nth-child(3), .col-1-9:nth-child(6) {
	padding-right: 0;
}
.col-1-9 {
	width: 33.3%;
}
.col-1-10 {
	width: 50%;
}
.col-1-11 {
	width: 100%;
}
.col-1-12 {
	width: 33.33%;
}
.col-10-12 {
	width: 100%;
}
.grey-bar {
	display: none;
}
.col-1-3 {
	width: 100%;
}
.col-2-3 {
	width: 50%;
}
ul {
	text-align: center;
}
h1 {
	align-content: center;
}
#featured-coffee {
	background: url(../img/lekule-evening-oak.jpg) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
#about-pic {
	background: url(../img/lekule-aboutus.jpg) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
#about-pic {
	background: url(../img/lekule-aboutus.jpg) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
#map {
	background: url(../img/lekule-map.jpg) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
#twitter {
	background: url(../img/lekule-twitter.png) no-repeat center center;
}
#linkedin {
	background: url(../img/lekule-linkedin.png) no-repeat center center;
}
#facebook {
	background: url(../img/lekule-facebook.png) no-repeat center center;
}
#contact .col-1-2 {
	width: 100%;
}
textarea, input {
	width: 200px;
}
.wrapper {
	width: 100%;
}
.one-hundred {
	width: 100%;
}
}
