@charset "UTF-8";
/* CSS Document */
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Typography
	1.1 - Headings
	1.2 - Body Copy
	1.3 - Buttons
	1.4 - Forms
	1.5 - Lists
	1.6 - Tables
2.0 - Navigation Menus
	2.1 - Main Menu
	2.2 - Sub Menu
	2.3 - Footer Menu 
3.0 - Content
	3.1 - Site Structure (Site Header, Advertisement, Site Footer)
	3.2 - Section Name
	3.3 - Section Name
4.0 - Media
5.0 - Utility
	5.1 - Background Colors
	5.2 - Text Colors
	5.3 - Text Sizes
	5.4 - Alignments
--------------------------------------------------------------*/

/*--------------------------------------------------------------
1.0 - TYPOGRAPHY
-------------------------------------------------------------- */
html {
	font-size: 24px;
}
body {
	font-family: 'Open Sans', sans-serif;
}
/*--------------------------------------------------------------
1.1 - HEADINGS
-------------------------------------------------------------- */

h1 {
	margin-top: -12px;
}
h2, h3 {
	font-size: 1.5rem;
}
a, h2, h3, #hero p, blockquote, .pink-box header p, #shipping {
	text-transform: uppercase;
}
h2, h3, blockquote, .pink-box, #contact p, .col-5-8, .col-1-4 {
	text-align: center;
}
h2, h3, .col-1-4 header p, .col-2-6 a, .col-1-4 a {
	color: #ee576b;
}
h2, h3, #hero p, nav a:hover, blockquote a:hover, .col-1-4 h3 {
	font-weight: 800;
}
#hero p, .pink-box, .pink-box h3, .pink-box a, .pink-box a:hover, .col-1-4 a:hover, .col-2-6 a:hover {
	color: whitesmoke;
}
/*--------------------------------------------------------------
1.2 - BODY COPY
-------------------------------------------------------------- */
#hero p {
	text-align: left;
}
blockquote {
	margin: 80px 0 80px;
	font-size: 0.5rem;
}
.margin-bottom {
	margin-bottom: 50px;
}
blockquote, .pink-box p, .pink-box h3, .col-1-4, .pink-box header p, #shipping {
	font-weight: 100;
}
.pink-box p {
	padding: 40px 45px;
	line-height: 1rem;
	margin-top: -65px;
}
.pink-box h3 {
	padding-top: 80px;
}
.col-1-4 header p, .col-1-4, #contact p, .pink-box p {
	font-size: 0.6rem;
}
.col-1-4 p, .col-1-4 {
	margin-top: -7px;
}
.col-1-4 h3 {
	color: black;
	font-size: 0.8rem;
	margin-top: -10px;
}
.pink-box header p, .pink-box h3 {
	font-size: 1rem;
}
.pink-box header p {
	margin-top: -50px;
	padding-bottom: 35px;
}
.pink-box a {
	border: solid 1px white;
	padding: 10px 28px;
}
.pink-box a:hover {
	background-color: #f95a6c;
}
#shipping {
	font-size: 0.5rem;
	line-height: 25px;
	margin: 60px 0 60px;
}
#about p {
	padding-top: 120px;
}
/*--------------------------------------------------------------
1.3 - BUTTONS
-------------------------------------------------------------- */

/*--------------------------------------------------------------
1.4 - FORMS
-------------------------------------------------------------- */
label {
	display: none;
}
form {
	padding: 30px;
}
.col-4-6 input {
	width: 450px;
	border: solid 1px #f95a6c;
	outline: none;
	font-size: 0.7rem;
	height: 39px;
}
input:focus {
	outline: none;
}
 input:-webkit-autofill {
 -webkit-box-shadow: 0 0 0px 1000px white inset;
 box-shadow: 0 0 0px 1000px white inset;
}
.col-2-6 a {
	border: solid 1px #f95a6c;
	padding: 7px 24px;
	font-size: 0.7rem;
	margin-left: -52px;
}
.col-4-6 form {
	margin-left: 210px;
}
#contact input, textarea {
	width: 100%;
	margin-bottom: 10px;
	font-size: 0.6rem;
	border: solid 1px white;
	background-color: transparent;
}
textarea {
	margin-bottom: 50px;
}


::-webkit-input-placeholder {
 color: white;
}

:-moz-placeholder { /* Firefox 18- */
 color: white;
}

::-moz-placeholder {  /* Firefox 19+ */
 color: white;
}

:-ms-input-placeholder {
 color: white;
}
/*--------------------------------------------------------------
1.5 - LISTS
-------------------------------------------------------------- */
ul {
	text-align: right;
	margin-top: 42px;
	font-size: 0.7rem;
}
li {
	display: inline-block;
	padding-right: 30px;
}
/*--------------------------------------------------------------
2.0 - NAVIGATION MENUS
-------------------------------------------------------------- */
a {
	text-decoration: none;
	color: black;
	font-weight: 100;
}
nav a:hover, blockquote a:hover {
	border-bottom: 1px solid #f95a6c;
}
.col-1-4 a {
	border: solid 1px #f95a6c;
	padding: 10px 28px;
}
.col-1-4 a:hover, .col-2-6 a:hover, .pink-box {
	background-color: #f95a6c;
}
.col-1-3 a {
	font-size: 0.6rem;
}
/*--------------------------------------------------------------
4.0 - MEDIA
-------------------------------------------------------------- */
#hero {
	background: url(../img/lekule-hero-image.jpg) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	padding-top: 380px;
	margin-top: -77px;
}
#featured-coffee {
	background: url(../img/lekule-evening-oak.jpg) no-repeat center center;
	min-height: 460px;
}
#about-pic {
	background: url(../img/lekule-aboutus.jpg) no-repeat center center;
}
#facebook {
	background-image: url(../img/lekule-facebook.png);
	height: 23px;
	width: 25px;
}
#linkedin {
	background-image: url(../img/lekule-linkedin.png);
	height: 23px;
	width: 25px;
}
#hero, #featured-coffee, #about-pic {
	background-size: cover;
}
#facebook, #linkedin, #twitter {
	background-repeat: no-repeat;
	background-position: 0 0;
	display: inline-block;
}
#twitter {
	background-image: url(../img/lekule-twitter.png);
	height: 23px;
	width: 25px;
}
#linkedin:hover, #twitter:hover, #facebook:hover {
	background-position: 0 -22px;
}
/*--------------------------------------------------------------
5.0 - UTILITY
-------------------------------------------------------------- */
#products {
	margin-bottom: 80px;
}
footer, #grey-bar-one, #grey-bar-two, #grey-bar-three, #grey-bar-four {
	background-color: #f1f2f2;
}
.flex {
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	overflow: hidden;
}
.flex [class*='col-'] {
	flex: 1;
}
.parent-div {
	position: relative;
}
#grey-bar-one, #grey-bar-two, #grey-bar-three, #grey-bar-four {
	position: absolute;
	z-index: -1;
	width: 100%;
	height: 115px;
}
#grey-bar-one {
	top: 245px;
}
#grey-bar-two {
	top: 168px;
}
#grey-bar-three {
	top: 170px;
}
#grey-bar-four {
	top: 215px;
}
.flex form a {
	margin-left: 260px;
}
/*--------------------------------------------------------------
5.4 - ALIGNMENTS
-------------------------------------------------------------- */

#contact p {
	padding-bottom: 30px;
}
*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
img {
	max-width: 100%;
}
.wrapper {
	width: 80%;
	margin: 0 auto;
}
.row:after {
	content: "";
	display: table;
	clear: both;
}
[class*='col-'] {
	float: left;
	margin-bottom: 20px;
}
.bg {
	background-color: #660033;
	height: 200px;
}
.col-1-1 {
	width: 100%;
}
.col-1-2 {
	width: 50%;
}
.col-1-3 {
	width: 33.33%;
	padding-top: 28px;
}
.col-2-3 {
	width: 60%;
	margin-top: -39px;
}
.col-1-4 {
	width: 25%;
	padding-right: 20px;
}
.col-3-4 {
	width: 75%;
}
.col-1-5 {
	width: 20%;
}
.col-2-5 {
	width: 50%;
}
.col-3-5 {
	width: 50%;
}
.col-1-6 {
	width: 16.6%;
}
.col-4-6 {
	width: 65%;
}
.col-2-6 {
	width: 15%;
	padding-top: 6px;
}
.col-1-7 {
	width: 14.2%;
}
.col-4-7 {
	width: 30%;
}
.col-3-7 {
	width: 70%;
}
.col-1-8 {
	width: 12.5%;
}
.col-5-8 {
	width: 75%;
}
.col-3-8 {
	width: 25%;
}
.col-1-9 {
	width: 11.11%;
}
.col-3-9 {
	width: 30%;
}
.col-4-9 {
	width: 30%;
}
.col-2-9 {
	width: 40%;
}
.col-1-10 {
	width: 10%;
}
.col-4-10 {
	width: 20%;
}
.col-3-10 {
	width: 40%
}
.col-1-11 {
	width: 9.09%;
}
.col-5-11 {
	width: 59%;
}
.col-3-11 {
	width: 20.5%;
}
.col-1-12 {
	width: 8.33%;
}
.col-3-12 {
	width: 15%;
}
.col-4-12 {
	width: 35%;
}
.col-2-12 {
	width: 35%;
}
.col-10-12 {
	width: 80%;
}
.block-center {
	margin: 0 auto;
	float: none;
}

@media screen and (max-width: 480px) {
.col-1-4 {
	width: 50%;
}
.col-1-4:nth-child(2) {
	padding-right: 0;
}
.col-3-4 {
	width: 50%;
}
.col-1-5 {
	width: 100%;
	padding-right: 0;
}
.col-2-5 {
	width: 30%;
}
.col-3-5 {
	width: 70%;
}
.col-1-6 {
	width: 33.33%;
}
.col-1-7 {
	width: 100%;
}
.col-1-8 {
	width: 25%;
}
.col-1-8:nth-child(4), .col-1-7, .col-1-5, .col-1-6:nth-child(3), .col-1-10, .col-1-9:nth-child(3), .col-1-9:nth-child(6) {
	padding-right: 0;
}
.col-1-9 {
	width: 33.3%;
}
.col-1-10 {
	width: 50%;
}
.col-1-11, .col-1-3 {
	width: 100%;
}
.col-1-12 {
	width: 33.33%;
}
.col-10-12 {
	width: 100%;
}
.grey-bar {
	display: none;
}

footer .col-2-3 {
	width: 81%;
}
#featured-coffee {
	background: url(../img/lekule-evening-oak.jpg) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
#about-pic {
	background: url(../img/lekule-aboutus.jpg) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
#contact .col-1-2 {
	width: 100%;
}
textarea, input {
	width: 100%;
}
.wrapper {
	width: 100%;
}
ul {
	margin: -120px 0 100px 100px;
}
h1 {
	margin: 0 0 100px 70px;
}
#hero {
	background: url(../img/lekule-hero-image.jpg) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: contain;
	margin-top: -160px;
}
#hero p {
	font-size: 0.4rem;
	margin: -140px 0 20px 0;
	line-height: 12px;
}
nav li a {
	font-size: 0.5rem;
	text-align: center;
}
.pink-box h3 {
	padding-top: 20px;
}
blockquote {
	margin-top: -30px;
}
#grey-bar-one, #grey-bar-two, #grey-bar-three, #grey-bar-four {
	display: none;
}
.col-4-6 form {
	margin-left: -10px;
}
#contact .flex {
	display: block;
}
#map {
	height: 400px;
}
.flex form a {
	margin-left: 170px;
}
}
